In [123]:
import pandas as pd
from currency_converter import CurrencyConverter

In [124]:
df = pd.read_csv("michelin_my_maps.csv")

In [169]:
df.Award.value_counts()

Bib Gourmand        3249
1 MICHELIN Star     2659
2 MICHELIN Stars     482
3 MICHELIN Stars     137
Name: Award, dtype: int64

In [171]:
df = df[df.Award != "Bib Gourmand"]

In [173]:
# Get only those in europe
long_cond = (df['Longitude'] > -25) & (df['Longitude'] < 55)
lat_cond = (df['Latitude'] > 33) & (df['Latitude'] < 70)
df_europe = df[long_cond & lat_cond].copy()

In [174]:
df_europe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2260 entries, 3 to 3277
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Name                   2260 non-null   object
 1   Address                2260 non-null   object
 2   Location               2260 non-null   object
 3   MinPrice               2259 non-null   object
 4   MaxPrice               2259 non-null   object
 5   Currency               2259 non-null   object
 6   Cuisine                2260 non-null   object
 7   Longitude              2260 non-null   float64
 8   Latitude               2260 non-null   float64
 9   PhoneNumber            2251 non-null   float64
 10  Url                    2260 non-null   object
 11  WebsiteUrl             2251 non-null   object
 12  Award                  2260 non-null   object
 13  FacilitiesAndServices  2260 non-null   object
dtypes: float64(3), object(11)
memory usage: 264.8+ KB

In [175]:
def price_to_int(price):
    if isinstance(price, str):
        price = int(price.replace(',', ''))
    return price

In [176]:
c = CurrencyConverter()
def price_to_usd(price_cur, converter = c):
    try:
        price_usd = round(converter.convert(price_cur[0], price_cur[1], 'USD'),2)
    except:
        price_usd = None
    return price_usd

In [177]:
df_europe[['MinPrice', 'MaxPrice']] = df_europe[['MinPrice', 'MaxPrice']].applymap(price_to_int)

In [178]:
df_europe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2260 entries, 3 to 3277
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Name                   2260 non-null   object
 1   Address                2260 non-null   object
 2   Location               2260 non-null   object
 3   MinPrice               2259 non-null   float64
 4   MaxPrice               2259 non-null   float64
 5   Currency               2259 non-null   object
 6   Cuisine                2260 non-null   object
 7   Longitude              2260 non-null   float64
 8   Latitude               2260 non-null   float64
 9   PhoneNumber            2251 non-null   float64
 10  Url                    2260 non-null   object
 11  WebsiteUrl             2251 non-null   object
 12  Award                  2260 non-null   object
 13  FacilitiesAndServices  2260 non-null   object
dtypes: float64(5), object(9)
memory usage: 264.8+ KB

In [179]:
def foo(row):
    print(row[0])
    return row

In [180]:
df_europe["MinPriceUSD"] = df_europe[["MinPrice", "Currency"]].apply(price_to_usd, axis = 1)

In [181]:
df_europe["MaxPriceUSD"] = df_europe[["MaxPrice", "Currency"]].apply(price_to_usd, axis = 1)

In [182]:
df_europe.to_csv('michelin_cleaned_0.csv', index = False)

In [183]:
df_europe = pd.read_csv('michelin_cleaned_0.csv')
df_europe = df_europe.to_csv('michelin_cleaned.csv')

In [158]:
####

In [184]:
df2 = pd.read_csv("michelin_cleaned.csv")

In [185]:
def split_list(string):
    return list(map(str.strip, string.split(',')))

In [186]:
df2['Cuisine'] = df2['Cuisine'].apply(split_list)

In [187]:
df2 = df2.explode('Cuisine')

In [188]:
df2.to_csv('michelin_cuisine.csv', index = False)