In [65]:
import pandas as pd
from currency_converter import CurrencyConverter

In [66]:
df = pd.read_csv("michelin_my_maps.csv")

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6527 entries, 0 to 6526
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Name                   6527 non-null   object
 1   Address                6527 non-null   object
 2   Location               6527 non-null   object
 3   MinPrice               6522 non-null   object
 4   MaxPrice               6522 non-null   object
 5   Currency               6522 non-null   object
 6   Cuisine                6527 non-null   object
 7   Longitude              6527 non-null   float64
 8   Latitude               6527 non-null   float64
 9   PhoneNumber            6405 non-null   float64
 10  Url                    6527 non-null   object
 11  WebsiteUrl             5399 non-null   object
 12  Award                  6527 non-null   object
 13  FacilitiesAndServices  6491 non-null   object
dtypes: float64(3), object(11)
memory usage: 714.0+ KB

In [73]:
# Get only those in europe
long_cond = (df['Longitude'] > -25) & (df['Longitude'] < 55)
lat_cond = (df['Latitude'] > 30) & (df['Latitude'] < 70)
df_europe = df[long_cond & lat_cond].copy()

In [74]:
df_europe.describe()

         Longitude     Latitude   PhoneNumber
count  4102.000000  4102.000000  4.086000e+03
mean      5.267193    47.240271  3.462706e+11
std       6.119783     4.482556  1.781825e+12
min     -21.927869    32.638299  4.977184e+07
25%       1.407837    43.945358  3.324013e+10
50%       5.453904    47.497574  3.494736e+10
75%       9.379614    50.729668  3.901716e+11
max      25.595863    64.145390  4.981419e+13

In [75]:
def price_to_int(price):
    if isinstance(price, str):
        price = int(price.replace(',', ''))
    return price

In [76]:
c = CurrencyConverter()
def price_to_usd(price_cur, converter = c):
    try:
        price_usd = round(converter.convert(price_cur[0], price_cur[1], 'USD'),2)
    except:
        price_usd = None
    return price_usd

In [77]:
df_europe[['MinPrice', 'MaxPrice']] = df_europe[['MinPrice', 'MaxPrice']].applymap(price_to_int)

In [78]:
df_europe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4102 entries, 3 to 6526
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Name                   4102 non-null   object
 1   Address                4102 non-null   object
 2   Location               4102 non-null   object
 3   MinPrice               4101 non-null   float64
 4   MaxPrice               4101 non-null   float64
 5   Currency               4101 non-null   object
 6   Cuisine                4102 non-null   object
 7   Longitude              4102 non-null   float64
 8   Latitude               4102 non-null   float64
 9   PhoneNumber            4086 non-null   float64
 10  Url                    4102 non-null   object
 11  WebsiteUrl             3967 non-null   object
 12  Award                  4102 non-null   object
 13  FacilitiesAndServices  4102 non-null   object
dtypes: float64(5), object(9)
memory usage: 480.7+ KB

In [69]:
def foo(row):
    print(row[0])
    return row

In [79]:
df_europe["MinPriceUSD"] = df_europe[["MinPrice", "Currency"]].apply(price_to_usd, axis = 1)

In [80]:
df_europe["MaxPriceUSD"] = df_europe[["MaxPrice", "Currency"]].apply(price_to_usd, axis = 1)

In [82]:
df.to_csv('michelin_cleaned.csv')

In [97]:
####

In [83]:
df2 = pd.read_csv("michelin_cleaned.csv")

In [84]:
def split_list(string):
    return list(map(str.strip, string.split(',')))

In [85]:
df2['Cuisine'] = df2['Cuisine'].apply(split_list)

In [86]:
df2 = df2.explode('Cuisine')

In [87]:
df2.to_csv('michelin_cuisine.csv', index = False)

In [88]:
df2.to_csv('michelin_cuisine_0.csv', index = "Index")